

.task-done {
    background-color: #d3d3d3; /* Couleur de fond pour les tâches terminées */
}

/* Define different colors for each status option */
option[value="à faire"] { background-color: red; }
option[value="en cours"] { background-color: yellow; }
option[value="fait"] { background-color: green; }

body{
    background-color: rgb(231, 185, 225);
}

label{
    background-color: black;
    padding: 5px;
    color:white;
    border: 4px white solid;
}
input{
    /* background-color: red; */
    padding: 10px;
    border-radius: 5px;
    /* box-shadow:  0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
}

.btnAdd{
 border-radius: 15px ;
 padding: 10px;
 border: 2px solid;
 width: 80%;
 margin: auto;
 
}
.btnAdd:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: pink;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}


select {
    background-color: rgb(236, 234, 234);
    padding: 20px;
    border-radius: 5px;
}
.red-background {
    background-color: red;
}

.yellow-background {
    background-color: yellow;
}

.green-background {
    background-color: green;
}

/* Pour les écrans de taille normale */
.containeur {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
  .containeurInput{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}
  
  table {
    width: 100%;
    /* max-width: 1200px; */
    border-collapse: collapse;
  }
    

th, td {
    
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color:rgb(223, 243, 223) ;
}

th {
    background-color: #f2f2f2;
}
  
/* th:nth-child(3),
td:nth-child(3) {
  display: none;
   } */
  